section.experince 
    .container 
        .title-wrapper_center
            .up-title.experince__up-title Опыт
            h2.title.experince__title Чем я буду полезна
            .line.experince__line
        .experince__wrapper 
            .experince__column
                .subtitle.experince__subtitle Образование
                .experince__item
                    +exp-block('МГТУ им. Н. Э. Баумана','Диплом магистра | Москва (2014-2020)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.', 'university')
                    +exp-block('Udemy','Курсы по Web-разработке ', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.', 'courses')
            .experince__column
                .subtitle.experince__subtitle Опыт работы
                .experince__item
                    +exp-block('Front-End Developer','EPAM | Москва (2018-2019)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.', 'dev')
                    +exp-block('UI/UX Designer','Squad Team | Москва (2018)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.', 'design')