header.header 
    .container
        .header__wrapper 
            .up-title Меня зовут Александра Смит
            h1.title.header__title Я web-разработчик из города Москва
            .header__btns
                button.btn Портфолио
                a(href="#")(class = 'header__link subtitle') Про меня 