nav.nav  
    .hamburger#btn_open 
        span 
        span.middle
        span 
.menu#menu
    .menu__overlay#overlay 
    .menu__option 
        .menu__close#btn_close 
            img(src="icons/Close.svg", alt="btn-close-menu")
        nav
            ul.menu__list 
               li.menu__link  
                    a(href="#") про меня 
               li.menu__link 
                    a(href="#") мой опыт
               li.menu__link 
                    a(href="#") мои навыки
               li.menu__link 
                    a(href="#") мои работы
               li.menu__link 
                    a(href="#") прайс-лист
               li.menu__link 
                    a(href="#") контакты
        .social.menu__media                
                a(href="https://www.facebook.com/")(class ='social__link')
                    img(src="icons/social/Github (1).svg", alt="telegram")
                a(href="https://www.facebook.com/")(class ='social__link')
                    img(src="icons/social/instagram.svg", alt="instagram")
                a(href="https://www.facebook.com/")(class ='social__link')
                    img(src="icons/social/facebook.svg", alt="facebook")

