section.portfolio 
    .container 
        .title-wrapper_center
            .up-title Портфолио
            h2.title Мои работы
            .line
        .portfolio__wrapper 
            a(href="#").portfolio__item 
                img.porfolio__img(src="img/works/uber.jpg", alt="Uber")
            a(href="#").portfolio__item 
                img.porfolio__img(src="img/works/pulse.jpg", alt="Pulse")
            a(href="#").portfolio__item 
                img.porfolio__img(src="img/works/bread.jpg", alt="Bread")
            a(href="#").portfolio__item.vertical
                img.porfolio__img(src="img/works/plans.jpg", alt="Plans")
            a(href="#").portfolio__item                 
                img.porfolio__img(src="img/works/ipad.jpg", alt="Ipad")
            a(href="#").portfolio__item.horizontal 
                img.porfolio__img(src="img/works/mac.jpg", alt="Mac")
            
            