section.price 
    .container 
        .title-wrapper_center
            .up-title Прайс-лист
            .line
        .price__wrapper
            .price__list 
                +price-list('Landing-page','от 8000 руб.','Одностраничный сайт для презентации услуг/товаров/...')
                +price-list('Корпоративный сайт','от 20000 руб.','Сайт для вашего бизнеса или компании')
                +price-list('Интернет-магазин','от 30000 руб.','Инструмент для ваших продаж в сети')
            .price__list 
                +price-list('Web-приложение','от 28000 руб.','Приложение внутри браузера для лучшего комфорта')
                +price-list('Android/IOS Приложение','от 25000 руб.','Приложение для смартфона любой ОС')
                +price-list('Дизайн','Индивидуально','Индивидуально')