aside.sidepanel
    .sidepanel__title.subtitle Социальные сети
    .sidepanel__line
    .social.sidepanel__social 
        a.sidepanel__link(href="#")
            img(src="../icons/social/github.svg", alt="github")
        a.sidepanel__link(href="#")
            img(src="../icons/social/instagram.svg", alt="")
        a.sidepanel__link(href="#")
            img(src="../icons/social/Facebook (1).svg", alt="")