section.skills 
    .container
        .title-wrapper_center
            .up-title Навыки
            h2.title Что я использую в работе
            .line
        .skills__wrapper
            +skills-block('HTML5','Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта', 'html')
            +skills-block('CSS3','Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!', 'css')
            +skills-block('Java Script','Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое', 'js')
            +skills-block('Jquery','Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует', 'jquery')             
            +skills-block('React','Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели', 'react') 
            +skills-block('Node.js','Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит', 'node') 
            +skills-block('Mongo.db','Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения', 'mongo')
        .skills__range 
            +range('Создание сайтов', "100%", 'width: 100%')
            +range('Создание приложений', "85%",'width: 85%')
            +range('Работа с данными', "90%", 'width: 90%')
            +range('Креативность', "75%", 'width: 75%')
            +range('Создание дизайна', "90%", 'width: 90%')
            +range('Soft skills', "95%", 'width: 95%')
