.price{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        padding-left: 77px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__list{
        display: grid;
        row-gap: 15px;
    }
    &__item{
        width: 366px;
        padding-left: 20px;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-content: space-between;
        row-gap: 5px;
    }
    &__amount{
        grid-column: 1/3;
    }
    &__subtitle{
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            z-index: -3;
            width: 15px;
            height: 15px;
            background-color: $accent-color;
            border-radius: 100%;
            top: 20%;
            left: -10%;
            transform: translateX(10%);
            
        }
    }
}